.accordion__title-1 {
  margin-bottom: 0;
  color: $white-color;
}

.accordion__wapper {
  // margin-top: 150px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: 20px;
}

// .accordion__content {
//   display: none;
// }

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding: 10px 20px;
  // cursor: pointer;
  cursor: url('../image/cursor-hand.png'), auto;

  // border: 1px solid $border-grey-color;
  border-top: 0;
  // color: $text-color;
  // background-color: $white-color;
  // background-color: $accent-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  // border: 1px solid $accent-color;
}

// .accordion:first-child {
//   border-top: 1px solid $accent-color;
// }

// .accordion__title.active {
//   box-shadow: 0 0 12px 1px $accent-color;
//   // color: $white-color;
//   // background-color: $accent-color;
// }

.accordion__title span {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  // background-color: transparent;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}

.accordion__title.active span {
  transform: rotate(45deg);
}

.accordion__title span:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // background-color: $plus-grey-color;
  background-color: $white-color;
}

.accordion__title span::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // background-color: $plus-grey-color;
  background-color: $white-color;
}

.accordion__content {
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  // border: 1px solid $border-grey-color;
  border-top: none;
  background-color: $white-color;
  max-height: 0;
  // opacity: 0;
  // visibility: hidden;
  transition:
    max-height 0.5s ease-out,
    padding 0.5s ease-out;
  // opacity 0.1s ease-out 0.5s;
  // visibility 0.1s ease-out 0.5s;
}

.accordion__content.active {
  visibility: visible;
  opacity: 1;
  // padding: 20px;
  transition:
    max-height 0.5s ease-out,
    padding 0.5s ease-out;
  // opacity 0.1s ease-out;
  // visibility 0.1s ease-out 0.5s;
}

.accordion__title3 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 80px;
  color: $title-color;
  font-size: 36px;
  line-height: 1.55;
}
