.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1171px;
  width: 100%;
  gap: 10px;
  margin-bottom: 120px;
}

// .gallery img {
//   height: 250px;
// }

.gallery__card {
  display: flex;
  width: 300px;
}

.gallery__image {
  width: 800px;
  @media screen and (max-width: $tablet) {
    width: 300px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 600px;
  }
}

.gallery__card:hover .gallery__image {
  transform: scale(1.1);
  cursor: zoom-in;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
}

.slider__container {
  display: flex;
}

.slider__container img {
  animation: anim 0.5s ease;
}
.slider__btn-left {
  display: none;
  @media screen and (min-width: $desktop) {
    left: 75px;
  }
}

.slider__btn-right {
  display: none;
  @media screen and (min-width: $desktop) {
    right: 75px;
  }
}

.slider__btn-close {
  margin: 0;
  //   padding: 0;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  // text-decoration: none;
  background-color: inherit;
  border-radius: 50%;
  // display: inline-block;
  // padding: 15px 30px;
  padding: 10px;
  margin: 10px 20px;
  // border-radius: 10px;
  // box-shadow:
  //   0 0 40px 40px #f137a6 inset,
  //   0 0 0 0 #f137a6;
  font-family: inherit;
  // font-weight: bold;
  // letter-spacing: 2px;
  // color: $white-color;
  fill: $white-color;
  transition: 0.15s ease-in-out;
}

// .modal-btn-close {
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: inherit;
//   fill: black;
//   display: block;
//   // margin-right: auto;
//   margin-left: auto;
//   padding: 10px;
//   border: none;

//   cursor: url('../image/cursor-hand.png'), auto;
// }

.slider__btn-close:hover {
  // box-shadow:
  //   0 0 10px 0 #f137a6 inset,
  //   0 0 10px 4px #f137a6;
  // color: #f137a6;
  background-color: $accent-color;
  // fill: $accent-color;
}

@keyframes anim {
  0% {
    // border-radius: 100%;
    transform: scale(0);
  }
  50% {
    // border-radius: 50%;
    transform: scale(1.2);
  }
  100% {
    // border-radius: 0;
    transform: scale(1);
  }
}

.gallery__title {
  display: block;
  margin-bottom: 45px;
  text-align: center;
  // color: #462e6a;
  // color: $accent-color;
  color: $text-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.24;

  @media screen and (max-width: $tablet) {
    margin-bottom: 26px;
  }
}

.gallery__text {
  padding: 20px;
  background-color: $accent-color;
  color: $white-color;
  border-radius: 20px;
}

.gallery__title2 {
  // color: $title-color;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 20px;

  @media screen and (max-width: $tablet) {
    font-size: 30px;
  }
}

.gallery__text2 {
  font-size: 22px;
  text-align: center;

  @media screen and (max-width: $tablet) {
    font-size: 19px;
  }
}

.gallery__title3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.gallery__text3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;

  @media screen and (max-width: $tablet) {
    font-size: 19px;
  }
}

.gallery__tel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 178px;
  padding: 20px;
  color: $white-color;
  background-color: $button-accent-color;
  border-radius: 10px;
}
