// section header
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $accent-color;

  @media screen and (max-width: $tablet) {
    // border: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.social {
  @media screen and (max-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
  }

  .social__item a {
    border-radius: 50%;
    // background-color: #ff6666;
    // width: 44px;
    // height: 44px;
    padding: 10px;
    border: none;
    // border: 1px solid #fff;
  }

  .social__item a:focus,
  .social__item a:hover {
    background-color: $button-accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header__wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  gap: 50px;
}

.header__link {
  // color: $text-color;
  color: $white-color;
  // padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: $tablet) {
    color: $white-color;
    font-size: 36px;
  }
}

.header__link:hover,
.header__link:focus {
  // color: $accent-color;
  color: yellow;

  @media screen and (max-width: $tablet) {
    color: #ff6666;
  }
}

.header__logan {
  // color: $title-color;
  color: $white-color;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// .header__tel img {
//   display: flex;
// }

// .header__tel a {
//   color: yellow;
//   font-size: 30px;
// }

// .tel__calls {
//   display: block;
//   margin-top: 5px;
//   font-size: 20px;
// }

.header__tel {
  color: $white-color;
  padding: 10px;
  background-color: #ff6666;
  border-radius: 10px;
  font-size: 19px;
  cursor: url('../../image/phone-call.png'), auto;
  // @media screen and (max-width: $tablet) {
  //   display: block;
  //   padding: 20px;
  // }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

// .header__tel:focus,
// .header__tel:hover {
//   height: 100px;
// }

// .header__tel2 {
//   display: none;
//   color: $white-color;
//   padding: 10px;
//   background-color: #ff6666;
//   border-radius: 10px;
//   font-size: 19px;
//   cursor: url('../../image/phone-call.png'), auto;
// }

// .header__tel2:focus,
// .header__tel2:hover {
//   display: block;
// }

.header__tel:active {
  color: $accent-color;
  background-color: #fff;
}

// .link__padding {
// @media screen and (min-width: $desktop) {
//   margin-bottom: 20px;
// }
// }
