.menu-button {
  margin: 0;
  padding: 0;
  border: none;
  // background-color: transparent;
  // background-color: $white-color;
  background-color: inherit;
  // fill: $text-color;
  fill: $white-color;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header {
  position: relative;
}

.js-menu-backdrop {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition:
      background-color 0.45s cubic-bezier(0.4, 0, 0.2, 1),
      visibility 0.45s cubic-bezier(0.4, 0, 0.2, 1);

    // opacity: 0;
    // pointer-events: none;
  }
}

.js-menu-backdrop.is-open {
  // opacity: 1;
  // background-color: rgba(0, 0, 0, 0.3);
  visibility: visible;

  // pointer-events: none;
}

.mobile-content {
  @media screen and (max-width: $tablet) {
    height: 100%;
    width: 60%;
    background-color: $accent-color;
    transform: translateX(-100%);
    // transition: transform 0.45s linear;
    transition-property: all;
    transition-duration: 0.65s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
    // спрятать переполнение
    overflow: hidden;
  }
}

.js-menu-backdrop.is-open .mobile-content {
  // opacity: 1;
  transform: translateX(0);
}

.header__right {
  @media screen and (max-width: $tablet) {
    text-align: center;
    // display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}

.button__close {
  display: none;
  @media screen and (max-width: $tablet) {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    margin-bottom: 50px;
    fill: $white-color;
  }
}

.button__close:focus,
.button__close:hover {
  fill: $button-accent-color;
}
