body.show-modal .backdrop-2 {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal-2 {
  transform: scale(1);
}

.backdrop-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  // z-index: 999;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 200ms ease-in-out,
    visibility 200ms ease-in-out;
}

.modal-2 {
  padding: 20px;
  max-width: 400px;
  min-height: 320px;
  width: 100%;
  background-color: $white-color;
  border-radius: 10px;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transform: scale(0.8);
  transition: transform 200ms ease-in-out;

  @media screen and (max-width: $tablet) {
    max-width: 278px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 380px;
  }
}

//Запретить прокручиваться модалке
body.modal-open {
  overflow: hidden;
}

.modal-btn-close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  fill: black;
  display: block;
  // margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border: none;

  cursor: url('../image/cursor-hand.png'), auto;
}

// .modal__svg {
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: inherit;
//   fill: black;
// }

.modal-btn-close:hover,
.modal-btn-close:focus {
  // color: $white-color;
  // background-color: $accent-color;
  // color: $accent-color;
  fill: $accent-color;
}

.form-title-2 {
  margin-bottom: 10px;
  color: $title-color;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
}

.form__label-2 {
  color: $text-color;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.58;

  cursor: url('../image/cursor-hand.png'), auto;
}

// .form__input-2:placeholder-shown {
//   border-color: blue;
// }

.form__input-2 {
  background: #f5f5f5;
  // border: 1px solid green;
  border: none;
  box-sizing: border-box;
  // display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  // max-width: 500px;
  padding: 10px;
  border-radius: 4px;
}

.form__bth-2 {
  width: 100%;
  margin-top: 20px;
  padding: 22px;
  color: $white-color;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  // border-radius: 55px;
  // border: 1.4px solid #fff;
  border: none;

  border-radius: 24px;
  // background-color: aqua;
  // background: linear-gradient(208deg, #6888c8 9.05%, #5a98f2 76.74%);
  background-color: $accent-color;

  cursor: url('../image/cursor-hand.png'), auto;
}

// .form__btn-2:hover,
// .form__btn-2:focus {
//   background: #ff6666;
// }

// .form-div {
//   display: inline-block;
// }

.form__bth-2:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.form__input-2 {
  user-select: none;
}
